@import "../home/_buscador.scss";

body{
    //background-color: #FAF4B7!important;
}

#search{
    position: absolute;
}

#main-shops{
    margin-top: -3rem;

    .tienda-descripcion{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.search-background{
    //position: absolute;
    padding: 0;
    -webkit-filter: drop-shadow( 4px 4px 4px rgba(0, 0, 0, .5));
    filter: drop-shadow( 2px 2px 26px rgba(0, 0, 0, .1));
}

.navigation-wrap{
    box-shadow: none!important;
}
