@import "../partials/buscador";
@import "../home/_necesitas.scss";
@import "../partials/footer";

body{
    overflow-x: hidden;
}

.main-content{
    padding: 2rem 6rem;
}

.sin-resultados{
    text-align: center;

    .sin-resultados-title{
        font-family: "Indie Flower", cursive !important;
        font-weight: 400;
        font-style: normal;
        font-size: 24px;
        color: black;
    }

    .sin-resultados-subtitle{
        font-family: "Fauna One", serif;
        font-weight: 400;
        font-style: normal;
        color: black;
    }
}

.resultados-title{
    font-family: "Indie Flower", cursive !important;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: black;
}
