#mensaje{
    font-family: 'Source Sans Pro', sans-serif;


    .main-mensaje{
        margin-top: 3rem;
        text-align: center;
        .ti{
            font-size: 36px;
            margin-bottom: 1rem;
        }
        .mensaje-title{
            font-size: 36px;
            line-height: 1.1;
        }

        .mensaje-subtitle{
            font-size: 28px;
            line-height: 1.1;
        }

        .mensaje-doc{
            font-family: "Fauna One", serif;
            font-size: 22px;
        }

    }
}

#footer{
    position: absolute!important;
    bottom: 0!important;
    width: 100%;
}
