#tiempopreparacion{
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-size: 18px;
    .ti{
        font-size: 40px;
        opacity: 0.3;
    }
    .tiempo-title{
        font-weight: bold;
        font-size: 22px;
    }
    .tiempo-title{
        font-size: 22px;
    }

}
