:root {
    --swiper-navigation-color: #000;
}

#main-establecimientos{
    .tarjeta-tienda{
        color: #373737;
    }
    .establecimientos-title{
        font-family: "Indie Flower", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 30px;
        color: black;
    }

    .swiper-container {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .swiper-button-prev{
        margin-left: -4rem;
        font-size: 36px;
        //background-image: url("data:image/svg+xml,%3Csvg%20%20xmlns=%22http://www.w3.org/2000/svg%22%20%20width=%2224%22%20%20height=%2224%22%20%20viewBox=%220%200%2024%2024%22%20%20fill=%22currentColor%22%20%20class=%22icon%20icon-tabler%20icons-tabler-filled%20icon-tabler-square-rounded-arrow-left%22%3E%3Cpath%20stroke=%22none%22%20d=%22M0%200h24v24H0z%22%20fill=%22none%22/%3E%3Cpath%20d=%22M12%202l.324%20.001l.318%20.004l.616%20.017l.299%20.013l.579%20.034l.553%20.046c4.785%20.464%206.732%202.411%207.196%207.196l.046%20.553l.034%20.579c.005%20.098%20.01%20.198%20.013%20.299l.017%20.616l.005%20.642l-.005%20.642l-.017%20.616l-.013%20.299l-.034%20.579l-.046%20.553c-.464%204.785%20-2.411%206.732%20-7.196%207.196l-.553%20.046l-.579%20.034c-.098%20.005%20-.198%20.01%20-.299%20.013l-.616%20.017l-.642%20.005l-.642%20-.005l-.616%20-.017l-.299%20-.013l-.579%20-.034l-.553%20-.046c-4.785%20-.464%20-6.732%20-2.411%20-7.196%20-7.196l-.046%20-.553l-.034%20-.579a28.058%2028.058%200%200%201%20-.013%20-.299l-.017%20-.616c-.003%20-.21%20-.005%20-.424%20-.005%20-.642l.001%20-.324l.004%20-.318l.017%20-.616l.013%20-.299l.034%20-.579l.046%20-.553c.464%20-4.785%202.411%20-6.732%207.196%20-7.196l.553%20-.046l.579%20-.034c.098%20-.005%20.198%20-.01%20.299%20-.013l.616%20-.017c.21%20-.003%20.424%20-.005%20.642%20-.005zm.707%205.293a1%201%200%200%200%20-1.414%200l-4%204a1.037%201.037%200%200%200%20-.2%20.284l-.022%20.052a.95%20.95%200%200%200%20-.06%20.222l-.008%20.067l-.002%20.063v-.035v.073a1.034%201.034%200%200%200%20.07%20.352l.023%20.052l.03%20.061l.022%20.037a1.2%201.2%200%200%200%20.05%20.074l.024%20.03l.073%20.082l4%204l.094%20.083a1%201%200%200%200%201.32%20-.083l.083%20-.094a1%201%200%200%200%20-.083%20-1.32l-2.292%20-2.293h5.585l.117%20-.007a1%201%200%200%200%20-.117%20-1.993h-5.585l2.292%20-2.293l.083%20-.094a1%201%200%200%200%20-.083%20-1.32z%22%20fill=%22currentColor%22%20stroke-width=%220%22%20/%3E%3C/svg%3E") !important;
    }
    .swiper-button-next{
        margin-right: -4rem;
        font-size: 36px;
    }

    .swiper-button-next::after, .swiper-button-prev::after {
        content: "";
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        border-radius: 0.428rem;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;

        .card{
            border-radius: 0.428rem;
            .card-img-top{
                height: 15rem;
                object-fit: cover;
                object-position: center;
            }

            .card-body{
                .card-subtitle{
                    text-align: left;
                    font-weight: bold;
                    font-size: 14px;
                }
                .card-title{
                    text-align: left;
                    font-size: 20px;
                    color: black;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .cantidad{
                    font-weight: bold;
                    color: black;
                }

                .contacto{
                    background-color: #f5f8fa;
                    text-align: left;
                    border-bottom-left-radius: 0.428rem;
                    border-bottom-right-radius: 0.428rem;

                    .contacto-title{
                        font-weight: bold;
                    }

                    .contacto-avatar{
                        border-radius: 30px;
                        width: 40px;
                        height: 40px;
                    }
                    .contacto-nombre{
                        font-weight: bold;
                        color: black;
                    }
                    .contacto-telefono{
                        color: gray;
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
