#main-info{
    .main-foto-buscador{
        height: 35vh;
        img.main-image{
            height: auto;
            width: 35%;
            position: absolute;
        }
    }

    .main-buscador .texto {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 36px;
    }

    .card-ordery{
        text-align: right;
        background-size: cover!important;
        background-position: right;
        background: #CADDE9 url(https://images.unsplash.com/photo-1555243896-c709bfa0b564?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat center;

        .ordery-title{
            font-weight: bold;
            font-size: 46px;
            font-family: "Fauna One", serif;
        }
        .ordery-subtitle{
            font-size: 20px;
            font-family: "Fauna One", serif;
            font-weight: 400;
            font-style: normal;
        }
    }

    .main-pasos{
        .pasos-title{
            font-family: "Indie Flower", cursive;
            font-weight: 400;
            font-style: normal;
            font-size: 30px;
            color: black;
        }
        .pasos{
            margin-top: 2rem;
            .paso{
                &:not(:last-child){
                    margin-bottom: 0.5rem;
                }
            }
            .numero{
                background-color: rgba(149, 255, 14, 0.55);
                border-radius: 20px;
                width: 25px;
                height: 25px;
                text-align: center;
                margin-right: 1rem;

                span{
                    height: 100%;
                    position: relative;
                    display: block;
                    margin-top: 1px;
                }

            }
            .texto{
                font-size: 18px;
            }
        }
    }
}
