@import "_info.scss";
@import "_establecimientos.scss";
@import "_buscador.scss";

html {
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 7px;
    }

    &::-webkit-scrollbar-thumb {
        background: #969696;
        border-radius: 15px;
    }

    &::-webkit-scrollbar-track {
        background: #ddd;
        border-radius: 15px;
    }
}

body{
    background-color: #ebf0f5 !important;
    overflow-x: hidden;
}

.main-content{
    padding: 2rem 6rem;
}
