@import "_header.scss";
@import "_info.scss";
@import "_buscador.scss";

html {
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 7px;
    }

    &::-webkit-scrollbar-thumb {
        background: #969696;
        border-radius: 15px;
    }

    &::-webkit-scrollbar-track {
        background: #ddd;
        border-radius: 15px;
    }
}
body{
    background-color: white!important;
    background-image: url("/images/web/background/home.svg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
}
