#pedidos{
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-size: 18px;

    .main-title{
        .ti{
            font-size: 30px;
            margin-right: 0.75rem;
            opacity: 0.25;
        }
        .pedidos-title{
            font-weight: bold;
            font-size: 22px;
        }
    }

    .main-pedidos{
        text-align: center;
    }

}
