@import "ultimopedido";

//#perfil{
//    font-family: 'Source Sans Pro', sans-serif;
//    font-style: normal;
//    font-size: 18px;
//
//    .main-title{
//        .ti{
//            font-size: 30px;
//            margin-right: 0.75rem;
//            opacity: 0.25;
//        }
//        .ultimopedido-title{
//            font-weight: bold;
//            font-size: 22px;
//        }
//    }
//
//}

#footer{
    position: absolute!important;
    bottom: 0!important;
    width: 100%;
}
