.producto{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .producto-precio-text{
        font-size: 20px;
        font-weight: bold;
    }

    .precio{
        font-weight: bold;
        font-size: 20px;
        margin-right: 1em;
    }
}
