#main-carta{

    .carta-titulo{
        font-weight: bold;
        font-size: 22px;
    }

    #carta{
        border: 1px solid #ECECEC;
        border-radius: 7px;
        padding: 1rem;

        .categoria{
            .categoria-titulo{
                color: #0093FF;
                font-weight: bold;
                font-size: 22px;
            }

            &:not(:first-child){
                margin-top: 1rem;
            }
        }

    }
}
