.producto{
    .producto-imagen{
        width: 5rem;
        border-radius: 2rem;
        height: 5rem;
        -o-object-fit: cover;
        object-fit: contain;
    }
    .producto-titulo{
        font-weight: bold;
        font-size: 22px;
    }
    .producto-precio{
        font-size: 18px;
    }

    .producto-descripcion{
        color: #4E4E4E;
    }

    .main-precios, .producto-precio, .producto-descripcion{
        font-family: "Fauna One", serif;
        font-weight: 400;
        font-style: normal;
    }

}
